.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:1rem;
    font-family:Merriweather,serif;
    font-weight:700;line-height:1.3
}
.container-highlight {
    padding-top: 50px;
}
/*** *BUTTON ***/
.btn {
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 0.875rem 1.5rem;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.btn-sm {
    padding: 0.7rem 1rem;
    font-size: .8rem;
    border-radius: 0.25rem;
}
.btn-primary {
    color: #fff;
    background-color: #0163ee;
    border-color: #0163ee;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 20%);
}

/*** *SKEWED BACKGROUND ***/
.bg-skew {
    position:relative
}
.bg-skew::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform:skewY(-5deg);
    transform-origin:top left;
    z-index:-1
}
.bg-skew-light::before{background-color:#f8f9fa}
    .divider{
        border-bottom:2px solid #0163ee;
        margin-top:1rem;
        margin-bottom:1rem;
        width:3rem
    }
    .min-vh-75{
        min-height:75vh
    }
    .font-serif{
        font-family:Merriweather,serif
    }
  

/*** *FEATURES SECTION ***/
/* iphone frame */
.iphone-x{
    background-color:#f8f9fa;
    border-radius:36px;
    box-shadow:inset 0 0 15px rgba(0,0,0,.15),0 20px 36px rgba(0,0,0,.15);
    width:280px;
    height:560px;
    position:relative
}
.iphone-x:after{
    content:'';
    background-color:#f8f9fa;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    width:140px;
    height:16px;
    position:absolute;
    top:15px;
    left:50%;
    transform:translateX(-50%)
}
.iphone-x .screen{
    border-radius:25px;
    width:calc(100% - 30px);
    height:auto;
    -o-object-fit:cover;
    object-fit:cover;
    position:absolute;
    top:15px;
    left:15px
}
/* icon fontawesome */
.icon{
    display:inline-block;
    font-size:1.5rem;
    position:relative;
    text-decoration:none;
    transition:background-color .2s ease-in-out;
    width:3rem;
    height:3rem
}
.icon-primary{
    color:#0163ee!important
}

/*** *TESTIMONIALS SECTION ***/
.avatar{
    border-radius:50%
}
.avatar-lg{
    width:86px;
    height:86px
}

